In [1]:
import pandas as pd

In [2]:
kidzbop_censored = pd.read_csv('KB_censored-lyrics.csv')

In [3]:
kidzbop_groupOverview = pd.read_csv('KB_group-overiew.csv')

In [4]:
kidzbop_proportions = pd.read_csv('KB_proportions.csv')

In [5]:
kidzbop_wordOverview = pd.read_csv('KB_word-overview.csv')

In [7]:
kidzbop_censored

,ogArtist,songName,badword,count,category,year,isCensored,isPresent,ogLyric,kbLyric
0,Ariana Grande,7 rings,bitch,2,profanity,2019,1,1,Bought matching diamonds for six of my bitches,Bought matching diamonds so they know what thi...
1,Britney Spears,till the world ends,blow,1,alcohol & drugs,2011,1,1,"Baby, let me blow your mind tonight","Baby, come on wave your hands tonight"
2,Britney Spears,till the world ends,blow,2,alcohol & drugs,2011,1,1,"Baby, let me blow your mind tonight","Baby, come on wave your hands tonight"
3,Britney Spears,till the world ends,touch,1,sexual,2011,1,1,"Get you off with the touch, dancing in the dark",Set it off with a track dancing in the dark
4,Elle King,ex's and oh's,high,1,alcohol & drugs,2016,1,1,"I get high, and I love to get low","I get by, and I love to lay low"
...,...,...,...,...,...,...,...,...,...,...
1348,Zara Larsson & MNEK,never forget you,die,5,violence,2016,1,1,Til the day I die,cuts verse
1349,Zara Larsson & MNEK,never forget you,die,10,violence,2016,1,1,"Die, yeah",cuts verse
1350,ZAYN & Taylor Swift,i don't wanna live forever,bullet,1,violence,2017,1,1,Wondering if I dodged a bullet or just lost th...,Wondering if I dodged a problem or just lost t...
1351,Zedd & Alessia Cara,stay,rum,1,alcohol & drugs,2017,1,1,"Living on my sofa, drinking rum and cola","Living on my sofa, drinking Coca-Cola"
1352,Zedd & Alessia Cara,stay,rum,2,alcohol & drugs,2017,1,1,"Living on my sofa, drinking rum and cola","Living on my sofa, drinking Coca-Cola"

In [8]:
kidzbop_groupOverview

          category  inSongs  censored  pctCensored
0  alcohol & drugs      301       171    56.810631
1         identity       96        45    46.875000
2            other      258        85    32.945736
3        profanity      198       176    88.888889
4           sexual      447       185    41.387025
5         violence      240        86    35.833333

In [9]:
kidzbop_proportions

    year    alcohol     sexual  profanity  identity      other   violence
0   2001   0.000000   2.500000   0.000000  2.500000   0.000000   0.000000
1   2002   0.000000  11.428571   5.714286  2.857143   2.857143   0.000000
2   2003   0.000000   0.000000   3.448276  3.448276   1.724138   0.000000
3   2004   1.587302   0.000000   0.000000  1.587302   0.000000   1.587302
4   2005   0.000000   0.000000  12.500000  0.000000   0.000000   3.125000
5   2006   2.439024   2.439024  24.390244  4.878049   0.000000   4.878049
6   2007   6.024096   7.228916  12.048193  8.433735   4.819277   4.819277
7   2008   3.571429   7.142857  10.714286  0.000000   5.357143   8.928571
8   2009   5.813953  12.790698  13.953488  1.162791  10.465116   6.976744
9   2010  14.457831  15.662651  10.843373  2.409639   6.024096   4.819277
10  2011   2.500000   7.500000  10.000000  7.500000   5.000000   2.500000
11  2012   8.256881  20.183486   4.587156  3.669725   5.504587   3.669725
12  2013   8.219178   9.589041  17.808219  0.000000   5.479452   6.849315
13  2014  21.250000  18.750000   7.500000  1.250000   6.250000   8.750000
14  2015   7.936508  15.079365  10.317460  2.380952   3.174603   8.730159
15  2016  15.625000  15.625000  15.625000  5.208333   7.291667   4.166667
16  2017  28.676471  18.382353  13.235294  0.735294   5.147059   8.088235
17  2018  19.327731  10.924370  17.647059  3.361345   5.042017  10.084034
18  2019  16.666667  15.972222  15.277778  2.777778  13.194444   4.861111

In [10]:
kidzbop_wordOverview

            category  badword  inSongs  censored  pctCensored
0    alcohol & drugs   addict        8         4         50.0
1    alcohol & drugs  alcohol        0         0          NaN
2    alcohol & drugs      bar        5         3         60.0
3    alcohol & drugs     bars        2         1         50.0
4    alcohol & drugs     beer        1         0          0.0
..               ...      ...      ...       ...          ...
221         violence     thug        5         2         40.0
222         violence  trigger        2         1         50.0
223         violence   victim        1         1        100.0
224         violence      war       10         1         10.0
225         violence   weapon        1         1        100.0

[226 rows x 5 columns]