In [ ]:
import os

In [ ]:
os.chdir('../../')

In [ ]:
os.getcwd()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from analysis.scripts import project_functions as pf

In [ ]:
df = pf.load_df('data/raw/KB_censored-lyrics.csv')
df.head()

In [ ]:
df.to_csv('data/processed/KB_censored-lyrics_cleaned.csv',index=False)

In [ ]:
df2 = pf.badWord_df(df,df['badWord'].value_counts().iloc[:5].index.tolist())

In [ ]:
df2.to_csv('data/processed/KB_censored-lyrics_badWord_freq.csv',index=False)

In [ ]:
def badWord_df(df,badWords):
    df2 = pd.DataFrame({'year':df['year'].unique().tolist()}).sort_values(by='year').reset_index(drop=True)
    for i in badWords:
        df3 = df[df['ogArtist']==i]['year'].value_counts()
        for j in range(2001,2020):
            if j not in df3.index:
                df3[j]=0
        df3 = df3.sort_index()
        df2[i]=df3.values
    return df2

In [ ]:
def ogArtist_df(df,ogArtists):
    df2 = pd.DataFrame({'year':df['year'].unique().tolist()}).sort_values(by='year').reset_index(drop=True)
    for i in ogArtists:
        df3 = df[df['ogArtist']==i]['year'].value_counts()
        for j in range(2001,2020):
            if j not in df3.index:
                df3[j]=0
        df3 = df3.sort_index()
        df2[i]=df3.values
    return df2

In [40]:
#Code taken from milestone task 5
df_YearGroup = df.groupby(by='year')
list1 = list()
for i in range(2001,2020):
    list1.append([i, df_YearGroup.get_group(i)['ogArtist'].value_counts().index[0], df_YearGroup.get_group(i)['ogArtist'].value_counts()[0]])
df_badWordbyArtist = pd.DataFrame(list1).rename(columns={0:'year',1:'ogArtist',2:'value'})
df_badWordbyArtist

    year                 ogArtist  value
0   2001                      LFO      1
1   2002                  Aaliyah      4
2   2003                 Baha Men      3
3   2004               Jet (band)      3
4   2005      The Black Eyed Peas      2
5   2006      The Black Eyed Peas     11
6   2007                   Fergie     16
7   2008            Sean Kingston     15
8   2009      The Black Eyed Peas     12
9   2010                Lady Gaga     27
10  2011             Tinie Tempah      7
11  2012                 Maroon 5     24
12  2013  Macklemore & Ryan Lewis     30
13  2014     Florida Georgia Line     12
14  2015              Major Lazer     36
15  2016  Macklemore & Ryan Lewis     22
16  2017                DJ Khaled     18
17  2018                    Drake     27
18  2019               Ed Sheeran     27

In [41]:
df_badWordbyArtist.to_csv('data/processed/KB_censored-lyrics_artist_freq.csv',index=False)